main-presentation.aux
main-presentation.log
main-presentation.nav
main-presentation.snm
main-presentation.toc
progress_report.aux
progress_report.log
progress_report.out
progress_report.toc
progress_report.synctex.gz
main-presentation.synctex.gz
main-presentation.out